<section class="section">

    <section id="catometer-area" class="section has-text-centered">
        <h1 class="title">{{title}}</h1>
        <progress class="progress is-link" value="{{facts.length}}" max="100"></progress>
    </section>

    <section id="content-area" class="section">
        {{#each facts}}
        <div class="notification is-info">
            {{this}}
        </div>
        {{/each}}
    </section>


</section>